In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import json

In [2]:
def getFromApi(path,queryParams={}):
    url=f"http://musicbrainz.org/ws/2{path}?inc=aliases&fmt=json"
    res = requests.get(url,params=queryParams)
    print(res.status_code,res.url)
    return res.json()

In [3]:
Ava_Max = getFromApi("/artist/add5f522-25df-41c4-815e-0ca9f60b83e4")
Billie_Eilish = getFromApi("/artist/f4abc0b5-3f7a-4eff-8f78-ac078dbce533")
Ariana_Grande = getFromApi("/artist/f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387")
Ed_Sheeram = getFromApi("/artist/b8a7c51f-362c-4dcb-a259-bc6e0095f0a6")
Shawn_Mendes = getFromApi("/artist/b7d92248-97e3-4450-8057-6fe06738f735")
Lil_Nas_X = getFromApi("/artist/0b30341b-b59d-4979-8130-b66c0e475321")
Khalid = getFromApi("/artist/28737730-ec70-4da5-89c5-77ac13c5c34d")
XXXTENTACION = getFromApi("/artist/61af87f4-16ee-4431-8504-cc06187079fb")
Queen = getFromApi("/artist/0383dadf-2a4e-4d10-a46a-e9e041da8eb3")
Post_Malone = getFromApi("/artist/b1e26560-60e5-4236-bbdb-9aa5a8d5ee19")

200 http://musicbrainz.org/ws/2/artist/add5f522-25df-41c4-815e-0ca9f60b83e4?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/f4abc0b5-3f7a-4eff-8f78-ac078dbce533?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/b8a7c51f-362c-4dcb-a259-bc6e0095f0a6?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/b7d92248-97e3-4450-8057-6fe06738f735?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/0b30341b-b59d-4979-8130-b66c0e475321?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/28737730-ec70-4da5-89c5-77ac13c5c34d?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/61af87f4-16ee-4431-8504-cc06187079fb?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/0383dadf-2a4e-4d10-a46a-e9e041da8eb3?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/b1e26560-60e5-4236-bbdb-9aa5a8d5ee19?inc=aliases&fmt=json

In [4]:
Ava_Max

{'name': 'Ava Max',
 'life-span': {'end': None, 'begin': '1994-02-16', 'ended': False},
 'end-area': None,
 'type': 'Person',
 'end_area': None,
 'type-id': 'b6e035f4-3ce9-331c-97df-83397230b0df',
 'aliases': [{'name': 'Amanda Ava Koci',
   'primary': None,
   'ended': False,
   'locale': None,
   'sort-name': 'Koci, Amanda Ava',
   'type': 'Legal name',
   'type-id': 'd4dcd0c0-b341-3612-a332-c0ce797b25cf',
   'begin': None,
   'end': None}],
 'disambiguation': '',
 'ipis': [],
 'begin_area': {'disambiguation': '',
  'id': '4dc3fa97-cf9b-43f0-bec9-fcc52d6215d5',
  'type': None,
  'sort-name': 'Milwaukee',
  'name': 'Milwaukee',
  'type-id': None},
 'gender-id': '93452b5a-a947-30c8-934f-6a4056b151c2',
 'isnis': [],
 'id': 'add5f522-25df-41c4-815e-0ca9f60b83e4',
 'gender': 'Female',
 'sort-name': 'Ava Max',
 'area': {'type': None,
  'iso-3166-1-codes': ['US'],
  'sort-name': 'United States',
  'id': '489ce91b-6658-3307-9877-795b68554c98',
  'disambiguation': '',
  'type-id': None,
  'name': 'United States'},
 'begin-area': {'disambiguation': '',
  'id': '4dc3fa97-cf9b-43f0-bec9-fcc52d6215d5',
  'type': None,
  'sort-name': 'Milwaukee',
  'name': 'Milwaukee',
  'type-id': None},
 'country': 'US'}

In [5]:
def ArtistDetails(data):
    for artist in data:
        return{
            "Name":data['name'],
            "BirthDate":data.get('life-span', {}).get('begin'),
            "Country":data.get('area', {}).get('sort-name'),
            "Gender":data['gender']
        }

In [6]:
dict1 = ArtistDetails(Ava_Max)
dict2 = ArtistDetails(Billie_Eilish)
dict3 = ArtistDetails(Ariana_Grande)
dict4 = ArtistDetails(Ed_Sheeram)
dict5 = ArtistDetails(Shawn_Mendes)
dict6 = ArtistDetails(Lil_Nas_X)
dict7= ArtistDetails(Khalid)
dict8 = ArtistDetails(XXXTENTACION)
dict9 = ArtistDetails(Queen)
dict10 = ArtistDetails(Post_Malone)

In [7]:
df = pd.DataFrame([dict1,dict2,dict3,dict4,dict5,dict6,dict7,dict8,dict9,dict10])

In [8]:
df_import = pd.read_csv('src/artists_streams.csv',encoding='latin-1')

In [9]:
df_import = df_import.rename(columns={'Artist': 'Name'})

In [10]:
df_import

            Name  num_songs     Streams
0  Billie Eilish         27  4497652401
1    Post Malone         45  4244240516
2  Ariana Grande         28  3339800155
3     Ed Sheeran         25  3118912731
4      Lil Nas X         20  1777338768
5   Shawn Mendes          8  1729841617
6        Ava Max          2  1573833722
7         Khalid         24  1435399324
8   XXXTENTACION         18  1370067912
9          Queen         11  1358564243

In [11]:
df_merge = pd.merge(df_import, df, on='Name')
df_merge

            Name  num_songs     Streams   BirthDate         Country  Gender
0  Billie Eilish         27  4497652401  2001-12-18   United States  Female
1    Post Malone         45  4244240516  1995-07-04   United States    Male
2  Ariana Grande         28  3339800155  1993-06-26   United States  Female
3     Ed Sheeran         25  3118912731  1991-02-17  United Kingdom    Male
4      Lil Nas X         20  1777338768  1999-04-09         Atlanta    Male
5   Shawn Mendes          8  1729841617  1998-08-08          Canada    Male
6        Ava Max          2  1573833722  1994-02-16   United States  Female
7         Khalid         24  1435399324  1998-02-11   United States    Male
8   XXXTENTACION         18  1370067912  1998-01-23   United States    Male
9          Queen         11  1358564243  1970-06-27  United Kingdom    None

In [12]:
df_merge.to_csv("src/artists_clean.csv")