In [9]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import json

In [10]:
def getFromApi(path,queryParams={}):
    url=f"http://musicbrainz.org/ws/2{path}?inc=aliases&fmt=json"
    res = requests.get(url,params=queryParams)
    print(res.status_code,res.url)
    return res.json()

In [11]:
Ava_Max = getFromApi("/artist/add5f522-25df-41c4-815e-0ca9f60b83e4")
Billie_Eilish = getFromApi("/artist/f4abc0b5-3f7a-4eff-8f78-ac078dbce533")
Ariana_Grande = getFromApi("/artist/f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387")
Tones_And_I = getFromApi("/artist/663f33f4-8e5f-4773-93ea-493a1135de9a")
Shawn_Mendes = getFromApi("/artist/b7d92248-97e3-4450-8057-6fe06738f735")
Daddy_Yankee = getFromApi("/artist/2f522f5c-111c-4ce8-8bd0-d82e97c227ad")
Lady_Gaga = getFromApi("/artist/650e7db6-b795-4eb5-a702-5ea2fc46c848")
Lewis_Capaldi = getFromApi("/artist/526aab94-697f-44a9-b630-41d1c0505953")
Marshmello = getFromApi("/artist/301b45a4-b8b9-410e-8344-4b4eaf96691a")
Post_Malone = getFromApi("/artist/b1e26560-60e5-4236-bbdb-9aa5a8d5ee19")

200 http://musicbrainz.org/ws/2/artist/add5f522-25df-41c4-815e-0ca9f60b83e4?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/f4abc0b5-3f7a-4eff-8f78-ac078dbce533?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/663f33f4-8e5f-4773-93ea-493a1135de9a?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/b7d92248-97e3-4450-8057-6fe06738f735?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/2f522f5c-111c-4ce8-8bd0-d82e97c227ad?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/650e7db6-b795-4eb5-a702-5ea2fc46c848?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/526aab94-697f-44a9-b630-41d1c0505953?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/301b45a4-b8b9-410e-8344-4b4eaf96691a?inc=aliases&fmt=json
200 http://musicbrainz.org/ws/2/artist/b1e26560-60e5-4236-bbdb-9aa5a8d5ee19?inc=aliases&fmt=json

In [12]:
Ava_Max

{'gender-id': '93452b5a-a947-30c8-934f-6a4056b151c2',
 'aliases': [{'begin': None,
   'type': 'Legal name',
   'sort-name': 'Koci, Amanda Ava',
   'locale': None,
   'type-id': 'd4dcd0c0-b341-3612-a332-c0ce797b25cf',
   'primary': None,
   'name': 'Amanda Ava Koci',
   'end': None,
   'ended': False}],
 'area': {'iso-3166-1-codes': ['US'],
  'type-id': None,
  'name': 'United States',
  'id': '489ce91b-6658-3307-9877-795b68554c98',
  'disambiguation': '',
  'type': None,
  'sort-name': 'United States'},
 'disambiguation': '',
 'type': 'Person',
 'sort-name': 'Ava Max',
 'isnis': [],
 'end_area': None,
 'id': 'add5f522-25df-41c4-815e-0ca9f60b83e4',
 'life-span': {'begin': '1994-02-16', 'end': None, 'ended': False},
 'begin-area': {'type-id': None,
  'name': 'Milwaukee',
  'disambiguation': '',
  'id': '4dc3fa97-cf9b-43f0-bec9-fcc52d6215d5',
  'type': None,
  'sort-name': 'Milwaukee'},
 'begin_area': {'type-id': None,
  'name': 'Milwaukee',
  'disambiguation': '',
  'id': '4dc3fa97-cf9b-43f0-bec9-fcc52d6215d5',
  'type': None,
  'sort-name': 'Milwaukee'},
 'type-id': 'b6e035f4-3ce9-331c-97df-83397230b0df',
 'ipis': [],
 'gender': 'Female',
 'country': 'US',
 'end-area': None,
 'name': 'Ava Max'}

In [13]:
def ArtistDetails(data):
    for artist in data:
        return{
            "Name":data['name'],
            "BirthDate":data.get('life-span', {}).get('begin'),
            "Country":data.get('area', {}).get('sort-name'),
            "Gender":data['gender']
        }

In [14]:
dict1 = ArtistDetails(Ava_Max)
dict2 = ArtistDetails(Billie_Eilish)
dict3 = ArtistDetails(Ariana_Grande)
dict4 = ArtistDetails(Tones_And_I)
dict5 = ArtistDetails(Shawn_Mendes)
dict6 = ArtistDetails(Daddy_Yankee)
dict7= ArtistDetails(Lady_Gaga)
dict8 = ArtistDetails(Lewis_Capaldi)
dict9 = ArtistDetails(Marshmello)
dict10 = ArtistDetails(Post_Malone)

In [21]:
df = pd.DataFrame([dict1,dict2,dict3,dict4,dict5,dict6,dict7,dict8,dict9,dict10])

In [22]:
df_import = pd.read_csv('Input/artists_names.csv',encoding='latin-1')

In [23]:
df_import = df_import.rename(columns={'Artist': 'Name'})

In [20]:
df_import

           song_name           Name     Streams
0            7 rings  Ariana Grande   789094044
1          Con Calma   Daddy Yankee   715027898
2       Dance Monkey    Tones and I   764208309
3            Happier     Marshmello   620829467
4        SeÃÂ±orita   Shawn Mendes   763064359
5            Shallow      Lady Gaga   714097238
6  Someone You Loved  Lewis Capaldi   661930419
7   Sweet but Psycho        Ava Max  1166185736
8               Wow.    Post Malone   615519053
9            bad guy  Billie Eilish  1052358787

In [37]:
df_merge = pd.merge(df_import, df, on='Name')
df_merge

,song_name,Name,Streams,BirthDate,Country,Gender
0,7 rings,Ariana Grande,789094044,1993-06-26,United States,Female
1,Con Calma,Daddy Yankee,715027898,1977-02-03,Puerto Rico,Male
2,Dance Monkey,Tones and I,764208309,None,Australia,Female
3,Happier,Marshmello,620829467,1992-05-19,United States,Male
4,SeÃÂ±orita,Shawn Mendes,763064359,1998-08-08,Canada,Male
5,Shallow,Lady Gaga,714097238,1986-03-28,United States,Female
6,Someone You Loved,Lewis Capaldi,661930419,1996-10-17,United Kingdom,Male
7,Sweet but Psycho,Ava Max,1166185736,1994-02-16,United States,Female
8,Wow.,Post Malone,615519053,1995-07-04,United States,Male
9,bad guy,Billie Eilish,1052358787,2001-12-18,United States,Female

In [38]:
df['df_merge'] = df['df_merge'].str.replace(r'SeÃÂ±orita', 'Senorita').astype('string')

KeyError: 'df_merge'