In [23]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import smtplib
import email,ssl
from email import encoders
from email.mime.base import MIMEBase
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

In [4]:
def acquire():
    data=pd.read_csv('src/spotify_clean.csv')
    return data

In [5]:
data = acquire()

In [6]:
data['Top10'].value_counts()

0    1534
1     183
Name: Top10, dtype: int64

In [7]:
def filters2(df):
    filtered2=df[(df["Top10"]=="1")]
    print(filtered2)
    return filtered2

In [8]:
filters2(data)

Empty DataFrame
Columns: [Unnamed: 0, Streams, Track Name, Artist, Artist_popularity, Artist_follower, Streams1, Top10]
Index: []

/usr/local/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [Unnamed: 0, Streams, Track Name, Artist, Artist_popularity, Artist_follower, Streams1, Top10]
Index: []

In [9]:
filtered2 = filters2(data)

Empty DataFrame
Columns: [Unnamed: 0, Streams, Track Name, Artist, Artist_popularity, Artist_follower, Streams1, Top10]
Index: []

/usr/local/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [10]:
def analysis2(df):
    grouped2=df.groupby("Artist").agg({"Track Name":"count","Streams":"sum"})
    results2=grouped2.sort_values("Streams",ascending=False)
    print("Estos son los 10 artistas más escuchados en 2019")
    return results2

In [11]:
analysis2(filtered2)

Estos son los 10 artistas más escuchados en 2019

Empty DataFrame
Columns: [Track Name, Streams]
Index: []

In [17]:
def acquire2():
    artist_data=pd.read_csv('src/artists_clean.csv')
    artist_data=artist_data.drop(columns=["Unnamed: 0"])
    print("Además, estos son los datos personales de cada ganador: Nacionalidad, Fecha de Nacimiento, Altura, Ganancias:", artist_data)
    return artist_data

In [18]:
acquire2()

Además, estos son los datos personales de cada ganador: Nacionalidad, Fecha de Nacimiento, Altura, Ganancias:             Name  num_songs     Streams   BirthDate         Country  Gender
0  Billie Eilish         27  4497652401  2001-12-18   United States  Female
1    Post Malone         45  4244240516  1995-07-04   United States    Male
2  Ariana Grande         28  3339800155  1993-06-26   United States  Female
3     Ed Sheeran         25  3118912731  1991-02-17  United Kingdom    Male
4      Lil Nas X         20  1777338768  1999-04-09         Atlanta    Male
5   Shawn Mendes          8  1729841617  1998-08-08          Canada    Male
6        Ava Max          2  1573833722  1994-02-16   United States  Female
7         Khalid         24  1435399324  1998-02-11   United States    Male
8   XXXTENTACION         18  1370067912  1998-01-23   United States    Male
9          Queen         11  1358564243  1970-06-27  United Kingdom     NaN

            Name  num_songs     Streams   BirthDate         Country  Gender
0  Billie Eilish         27  4497652401  2001-12-18   United States  Female
1    Post Malone         45  4244240516  1995-07-04   United States    Male
2  Ariana Grande         28  3339800155  1993-06-26   United States  Female
3     Ed Sheeran         25  3118912731  1991-02-17  United Kingdom    Male
4      Lil Nas X         20  1777338768  1999-04-09         Atlanta    Male
5   Shawn Mendes          8  1729841617  1998-08-08          Canada    Male
6        Ava Max          2  1573833722  1994-02-16   United States  Female
7         Khalid         24  1435399324  1998-02-11   United States    Male
8   XXXTENTACION         18  1370067912  1998-01-23   United States    Male
9          Queen         11  1358564243  1970-06-27  United Kingdom     NaN

In [19]:
artist_data = acquire2()

Además, estos son los datos personales de cada ganador: Nacionalidad, Fecha de Nacimiento, Altura, Ganancias:             Name  num_songs     Streams   BirthDate         Country  Gender
0  Billie Eilish         27  4497652401  2001-12-18   United States  Female
1    Post Malone         45  4244240516  1995-07-04   United States    Male
2  Ariana Grande         28  3339800155  1993-06-26   United States  Female
3     Ed Sheeran         25  3118912731  1991-02-17  United Kingdom    Male
4      Lil Nas X         20  1777338768  1999-04-09         Atlanta    Male
5   Shawn Mendes          8  1729841617  1998-08-08          Canada    Male
6        Ava Max          2  1573833722  1994-02-16   United States  Female
7         Khalid         24  1435399324  1998-02-11   United States    Male
8   XXXTENTACION         18  1370067912  1998-01-23   United States    Male
9          Queen         11  1358564243  1970-06-27  United Kingdom     NaN

In [20]:
def send_email(text):
    subject="¿Quieres saber más de los artistás más escuchados el 2019?"
    body = """\
    Hola,
    Adjunto vas a encontrar una gráfica con los 10 artistas con mayor numero de reproducciones en el 2019,estos son los datos  de cada artista: Nombre, Fecha de Nacimiento, Sexo, Ganancias: {text}
    """
    sender_email = input("Enter sender_email:")
    receiver_email = input("Enter destinatary_email:")
    password = input("Enter password:")

    message = MIMEMultipart()
    message["From"] = sender_email
    message["To"] = receiver_email
    message["Subject"] = subject
    message.attach(MIMEText(body, "plain"))
    filename = "Top 10 most popularity Artists.png"
    with open("output/Top 10 most popularity Artists.png", "rb") as attachment:
        part = MIMEBase("application", "octet-stream")
        part.set_payload(attachment.read())
    encoders.encode_base64(part)
    part.add_header(
        "Content-Disposition",
        f"attachment; filename= {filename}",
    )
    message.attach(part)
    text = message.as_string()

    context = ssl.create_default_context()
    with smtplib.SMTP_SSL("smtp.gmail.com", 465, context=context) as server:
        server.login(sender_email, password)
        server.sendmail(sender_email, receiver_email, text)

In [22]:
send_email(artist_data)

Enter sender_email:pruebaironhackmiriam@gmail.com
Enter destinatary_email:miriamvellosop@gmail.com
Enter password:956301045

SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. Learn more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials a15sm20484858wrh.54 - gsmtp')